@import url('https://fonts.googleapis.com/css?family=Lato');

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  font-family: var(--main_font);
}

p,
span {
  font-weight: normal;
  font-family: var(--main_font);
}
