* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*first block*/

.first_block {
  background: var(--first_block_background) url("images/frame.svg") no-repeat right;
  display: flex;
  flex-direction: column;
  background-size: contain;
  height: 100vh;

}

.logo {
  width: 100px;
  height: 32px;
  margin-bottom: 131px;
}

.header {
  display: flex;
  max-width: 42%;
  flex-direction: column;
  padding: 61px 0 0 165px;
}

.h1_first_block {
  font-family: var(--main_font);
  font-weight: bold;
  margin-top: 140px;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.03em;
  color: var(--color_for_h);
  margin-bottom: 0;
  width: 546px;
}

.p_first_block {
  font-family: var(--main_font);
  font-size: 18px;
  line-height: 26px;
  display: inline-block;
  width: 453px;
  color: var(--color_for_p);
  margin: 31px 0 50px;
}

/* second block */

.second_block {
  display: flex;
  height: 592px;
  background-color: var(--white);
}

.arsenal-vs-chelsea {
  position: relative;
  width: 50%;
  background: linear-gradient(270deg, var(--white) 25%,
  rgba(255, 255, 255, 0) 95%),
    url("images/background_fone_form.png") no-repeat;
}

.football_match {
  width: 360px;
  height: 218px;
  box-shadow: -22px 24px 49px rgba(0, 0, 0, 0.5);
  background-color: var(--white);
  position: relative;
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  padding: 27px 0 0 15px;
  margin: 109px 0 0 163px;
  z-index: 1;
}

.arsenal {
  position: absolute;
  top: 46px;
  right: 86px;
}

.chelsea {
  position: absolute;
  top: 46px;
  right: 15px;
}

.form_notifications {
  bottom: 0;
  position: absolute;
  background: var(--color_for_notifications);
  height: 50px;
  width: 100%;
  display: flex;
  margin-left: -15px;
  align-items: center;
}

.turn-on {
  align-self: center;
  font-family: var(--main_font);
  font-size: 19px;
  line-height: 25px;
  color: var(--color_for_p);
  padding: 0 109px 0 30px;
}

.input {
  display: none;
}

.label {
  position: relative;
  cursor: pointer;
}

.label:before {
  content: "";
  width: 28px;
  height: 13px;
  background-color: var(--color_for_label);
  border-radius: 11px;
  z-index: 1;
  display: block;
  position: absolute;
  right: 0;
  bottom: 4px;
}

.label:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 15px;
  bottom: 1px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.input:checked + .label:before {
  background-color: var(--brand);
  transition: 0.5s;
}

.input:checked + .label:after {
  right: -6px;
  transition: 0.5s;
}

.video {
  width: 360px;
  height: 218px;
  position: absolute;
  left: 269px;
  top: 269px;
  outline: none;
}

.video:hover {
  width: 360px;
  height: 218px;
  position: absolute;
  left: 269px;
  top: 269px;
  outline: none;
}

/* third block */

.about_app {
  display: flex;
  flex-direction: column;
  padding-top: 88px;
  padding-left: 100px;
}

.first_h5 {
  font-family: var(--main_font);
  font-size: 16px;
  line-height: 21px;
  color: var(--brand);
}

.first_h3 {
  font-family: var(--main_font);
  font-size: 28px;
  line-height: 37px;
  color: var(--color_for_h);
}

.information_about_app {
  line-height: 23px;
  color: var(--color_for_p);
  width: 407px;
}

.link_lear {
  font-family: var(--main_font);
  font-weight: bold;
  line-height: 21px;
  color: var(--brand);
  text-decoration: none;
}

.link_lear:hover {
  text-decoration: underline;
}

.third_block {
  display: flex;
  position: relative;
  overflow: hidden;
}

.start_app {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 109px 0 0 163px;
}

.telephone_slide {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 104px 0 0 270px;
}

.telephone {
  position: relative;
  display: block;
}

.icon_call {
  position: absolute;
  left: 0;
  top: 40px;
}

.icon_phone {
  position: absolute;
  bottom: 135px;
  left: 265px;
}

.circle1 {
  width: 400px;
  height: 400px;
  border: 1px dashed var(--brand);
  border-radius: 50%;
  position: absolute;
  top: 78px;
  left: -6px;
  z-index: -1;
}

.circle2 {
  border: 1px dashed var(--brand);
  border-radius: 50%;
  position: absolute;
  width: 600px;
  height: 600px;
  top: -22px;
  left: -106px;
}

.circle_dot {
  position: absolute;
  width: 600px;
  height: 600px;
  top: -22px;
  left: -106px;
  animation: dot 30s infinite linear;
}

@keyframes dot {
  100% {
    transform: rotate(360deg);
  }
}

.dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--brand);
  border: 8px solid var(--white);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25), 0 2px 6px rgba(51, 51, 51, 0.1);
  position: absolute;
  top: 437px;
  left: 27px;
}

.circle3 {
  border: 1px solid var(--brand);
  border-radius: 50%;
  position: absolute;
  width: 800px;
  height: 800px;
  box-sizing: border-box;
  top: -115px;
  left: -203px;
  opacity: 0.4;
}

.circle4 {
  border: 1px solid var(--brand);
  border-radius: 50%;
  position: absolute;
  width: 1000px;
  height: 1000px;
  box-sizing: border-box;
  top: -220px;
  left: -301px;
  opacity: 0.3;
}

.circle5 {
  border: 1px solid var(--brand);
  border-radius: 50%;
  position: absolute;
  width: 1200px;
  height: 1200px;
  box-sizing: border-box;
  top: -304px;
  left: -415px;
  opacity: 0.2;
}

.circle6 {
  border: 1px solid var(--brand);
  border-radius: 50%;
  position: absolute;
  width: 1400px;
  height: 1400px;
  box-sizing: border-box;
  top: -400px;
  left: -512px;
  opacity: 0.2;
}

.circle7 {
  border: 1px solid var(--brand);
  border-radius: 50%;
  position: absolute;
  width: 1600px;
  height: 1600px;
  box-sizing: border-box;
  left: -618px;
  top: -505px;
  opacity: 0.1;
}

.circle8 {
  border: 1px solid var(--brand);
  border-radius: 50%;
  position: absolute;
  width: 1800px;
  height: 1800px;
  box-sizing: border-box;
  top: -595px;
  left: -705px;
  opacity: 0.1;
}

.circle9 {
  border: 1px solid var(--brand);
  border-radius: 50%;
  position: absolute;
  width: 2000px;
  height: 2000px;
  box-sizing: border-box;
  top: -678px;
  left: -809px;
  opacity: 0.05;
}

.fourth_block {
  display: flex;
  background: url(images/block_4_background.svg) no-repeat;
  background-size: cover;
  flex-direction: column;
  align-content: center;
}

.fourth_block_content {
  flex-direction: column;
  align-content: center;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
}

.fourth_block_header {
  text-align: center;
  color: var(--white);
  font-size: 28px;
  line-height: 37px;
  margin-top: 76px;
}

.features_list {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  color: var(--white);
  line-height: 23px;
  padding: -1px;
  justify-content: center;
  align-content: baseline;
  margin-left: 50px;
}

.item {
  flex-basis: 311px;
  margin-right: 90px;
  list-style: none;
  margin-bottom: 50px;
}

.twitter_block_head {
  text-align: center;
  margin-bottom: 63px;
  margin-top: 68px;
  font-size: 28px;
  line-height: 37px;
  color: var(--black);
}

.twitter {
  width: 90%;
  margin: auto;
}

.button_left,
.button_right {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 1px solid var(--brand);
  outline: none;
  position: absolute;
  top: 55px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.4s;
}

.button_left:active,
.button_right:active {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.25);

}

.button_left {
  left: -60px;
  background: var(--white) url("images/arrow-left.svg") no-repeat 48% 21%;
}

.button_right {
  right: -60px;
  background: var(--white) url("images/arrow-right.svg") no-repeat 52% 25%;
}

.dotted {
  list-style: none;
  display: flex;
  justify-content: center;
}

.dotted button {
  display: none;
}

.dotted li {
  background-color: var(--twitter-border);
  border: none;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  margin-right: 11px;
  cursor: pointer;
}

.dotted li:nth-child(2) {
  background-color: var(--circle2);
}

.dotted li:nth-child(3) {
  background-color: var(--circle3);
}

.dotted li:nth-child(4) {
  background-color: var(--circle4);
}

.dotted li:nth-child(5) {
  background-color: var(--circle5);
}

.dotted li:active {
  background-color: var(--black);
}

.reviews {
  border: solid 1px var(--twitter-border);
  height: 161px;
  border-radius: 4px;
  margin-right: 36px;
  padding-left: 17px;
  padding-right: 5px;
}

.user-info {
  display: flex;
  position: relative;
  margin-top: 15px;
  align-items: center;
}

.portrait {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.name {
  font-size: 16px;
  line-height: normal;
  margin: 11px;
}

.user-comment {
  font-size: 14px;
  line-height: 18px;
}

.six_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: var(--featured_block_background);
}

.six_block_header {
  margin-top: 57px;
  margin-bottom: 60px;
  color: var(--black);
  font-family: var(--main_font);
  font-size: 28px;
  line-height: 37px;
}

.sponsors_list {
  display: flex;
  justify-content: center;
  margin-bottom: 68px;
  flex-wrap: wrap;
}

.sponsor {
  margin-right: 80px;
  text-decoration: none;
  padding: 0;
  list-style: none;
}

.seventh_block {
  display: flex;
  height: 483px;
}

.seventh_block_frame {
  width: 50%;
  height: 100%;
  background: url(images/frame2.png) no-repeat;
}

.seventh_block_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.seventh_block_right_headline {
  width: 554px;
  height: 37px;
  font-size: 28px;
  line-height: 37px;
  color: var(--color_for_h);
}

.seventh_block_right_text {
  font-size: 16px;
  line-height: 25px;
  color: var(--color_for_p);
  width: 535px;
  height: 125px;
}
