:root {
  --main_font: "Lato", sans-serif;
  --first_block_background: #f4f6f9;
  --black: #000;
  --white: #fff;
  --brand: #00adee;
  --color_for_h: #333;
  --color_for_p: #4f4f4f;
  --featured_block_background: #fafafa;
  --color_for_notifications: #eee;
  --color_for_label: #979797;
  --twitter-border: #828282;
  --circle2: #979595;
  --circle3: #b2b0b0;
  --circle4: #cdcbcb;
  --circle5: #e2e1e1;
}
